@import "http://fonts.googleapis.com/css?family=Mouse+Memoirs";
@import "http://fonts.googleapis.com/css?family=Englebert";
@import "http://fonts.googleapis.com/css?family=Telex";

html { 
	-webkit-font-smoothing: antialiased; 
}
body {
	width: 960px;
	margin: 20px auto 0;
	background-color: #1C1C1C;
	color: #888;
	font-family: 'Telex', sans-serif;
}

a {
	color:#AAAAAA;
}

header {
	width:100%;
	height: 50px;
}

header h1 {
	text-align: center;
	line-height: 50px;
	margin:0;
}

#leftbar {
	float: left;
	width: 25%;
}

div#mainContent {
	float: left;
	width: 75%;
	min-height: 575px;
}

div.inner div {
	position: absolute;
	width: 100%;
	display:none;
}

div.inner div h1 {
	text-align: center;
}

div.inner {
	position:relative;
}

.meter-wrap {
	position: relative;
	border-top: thin solid #484848;
	cursor:pointer;
}

.header-row {
	cursor:inherit;
	font-weight:bolder;
	color:#AAA;
	
	border:none;
	padding-left:1px;
	font-size:110%;
	clear:both;
	box-shadow:none;
}

.skill:last-of-type .meter-wrap {
	border-bottom:thin solid #484848;
}

.header-row:hover {
	border: none;
	color:#AAA;
	background:none;
}

.skill .meter-wrap:hover {
	color:#FFF;
	background-color:#5C1A19;
	background-image: linear-gradient(bottom, #630303 11%, #470202 50%);
	background-image: -o-linear-gradient(bottom, #630303 11%, #470202 50%);
	background-image: -moz-linear-gradient(bottom, #630303 11%, #470202 50%);
	background-image: -webkit-linear-gradient(bottom, #630303 11%, #470202 50%);
	background-image: -ms-linear-gradient(bottom, #630303 11%, #470202 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, #630303),
		color-stop(0.5, #470202)
	);
	
}

.skill .meter-wrap:hover a {
	color:#FFF;
}

.skill .meter-wrap:hover .meter-value {
	background-image: linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -o-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -moz-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -webkit-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -ms-linear-gradient(bottom, #076932 11%, #005734 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, #076932),
		color-stop(0.5, #005734)
	);
}

.meter-wrap, .meter-value {
	width: 100%;
	height: 30px;
}

.meter-value {
	background-color:#044A70;
	background-image: linear-gradient(bottom, #044A70 11%, #003A61 50%);
	background-image: -o-linear-gradient(bottom, #044A70 11%, #003A61 50%);
	background-image: -moz-linear-gradient(bottom, #044A70 11%, #003A61 50%);
	background-image: -webkit-linear-gradient(bottom, #044A70 11%, #003A61 50%);
	background-image: -ms-linear-gradient(bottom, #044A70 11%, #003A61 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, #044A70),
		color-stop(0.5, #003A61)
	);
}

.meter-text-skill {
	position: absolute;
	margin-left: 2%;
	line-height:30px;
}

.meter-text-rank {
	position:absolute;
	margin-left:20%;
	line-height:30px;
}

.meter-text-level {
	position: absolute;
	margin-left: 31%;
	line-height:30px;
}

.meter-text-vlevel {
	position: absolute;
	margin-left: 38%;
	line-height:30px;
}

.meter-text-exp {
	position: absolute;
	margin-left: 46%;
	line-height:30px;
	padding-left:2px;
}

.meter-text-tnl {
	position: absolute;
	margin-left: 63%;
	line-height:30px;
	padding-left:2px;
}

.meter-text-remaining {
	position: absolute;
	margin-left: 76%;
	line-height:30px;
	padding-left:2px;
}

.meter-text-percentage {
	position: absolute;
	margin-left: 90%;
	line-height:30px;
	padding-left:2px;
}

.hide {
	display:none !important;
}

.left {
	float:left;
}

.right {
	float:right;
}

.inlineLink {
	display:inline;
}

div.inner div p {
	text-align:center;
}
div.inner div p span {
	font-weight:bold;
	color:#FFF;
}


table.skill th, table.skill td {
	width:120px;
	text-align:center;
}

.capes-container {
	overflow:hidden;
	padding:5px;
}

.max {
	width:100%;
}

#max-gauge {
	width:100%;
	height:150px;
}

.comp {
	width:100%;
	margin-top:10px;
}

#comp-gauge {
	width:100%;
	height:150px;
}

#blah {
	clear:both;
	margin-top:35px;
	margin-bottom:15px;
}

.virtual {
	border-bottom:thin dotted #BBB;
	cursor:help;
}

.user-info {
	padding: 0 10px;
	overflow:hidden;
}

#leftbar h1, .toggleBox h1  {
	display:inline;
	color:#c77f02;
	padding:0;
	margin:0;
	font-size:25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#c77f02), to(#f5b13d));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	float:right;
	clear:right;
	font-family: 'Mouse Memoirs', sans-serif;
}

#leftbar h1 a {
	color:#c77f02;
	background: -webkit-gradient(linear, left top, left bottom, from(#c77f02), to(#f5b13d));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

#leftbar p {
	font-size:75%;
	display:inline;
	margin:0;
	padding:0;
	float:left;
	clear:left;
	margin-top:13px;
}

#rewards {
	padding:10px;
}

#rewards img {
	float:left;
	margin:5px;
}

.info {
	overflow:hidden;
	padding:0 10px;
}

.toggleBox {
	display:none;
	width:98%;
	margin:0 auto;
	max-height:200px;
	overflow-y:scroll;
}

.toggleBox h1 {
	text-align:center !important;
	float:none !important;
	display:block !important;
	margin:16px !important;
	
	background-image: linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -o-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -moz-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -webkit-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -ms-linear-gradient(bottom, #076932 11%, #005734 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, #076932),
		color-stop(0.5, #005734)
	);
}

.skillcalc {
	width:95%;
    margin:0 auto;
	border-collapse:collapse;
	color:#FFF;
	text-align:left;
}

.skillcalc thead tr th {
	font-weight:normal;
}

.skillcalc tbody tr {
	background-color:#666;
}

.skillcalc tbody tr:nth-of-type(odd) {
	background-color:#444;
}

.skillcalc tbody tr td {
}

input {
	float:right;
	margin:0;
	border:none;
	padding:5px;
	background:none;
	font-size:15px;
	height:20px;
}

input:focus {
	outline:none;
	border:none;
}

input[type="text"]:focus {
	box-shadow:0px 0px 12px #69B1FF;
}

input[type="text"] {
	background-color:#DDD;
	background-image: linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	background-image: -o-linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	background-image: -moz-linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	background-image: -webkit-linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	background-image: -ms-linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.35, #D6D6D6),
		color-stop(0.68, #C2C2C2)
	);
}

input[type="submit"] {
	background-color:#005734;
	
	background-image: linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -o-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -moz-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -webkit-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -ms-linear-gradient(bottom, #076932 11%, #005734 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, #076932),
		color-stop(0.5, #005734)
	);
	
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	
	color:#AAA;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	box-shadow:0px 0px 3px black;
	z-index:10;
	position:relative;
	
	cursor:pointer;
	height:30px;
}

#toggle99Btn {
	display:block;
	height:20px;
	width:20px;
	padding:5px;
	margin-left:5px;
	margin-right:10px;
	line-height:21px;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	cursor:pointer;
	
	background-color:#DDD;
	background-image: linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	background-image: -o-linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	background-image: -moz-linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	background-image: -webkit-linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	background-image: -ms-linear-gradient(bottom, #D6D6D6 35%, #C2C2C2 68%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.35, #D6D6D6),
		color-stop(0.68, #C2C2C2)
	);
	
	text-decoration:none;
}

iframe {
	float:left;
	margin-top:5px;
}

.defnameset {
	background-color:#005734;
	
	background-image: linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -o-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -moz-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -webkit-linear-gradient(bottom, #076932 11%, #005734 50%);
	background-image: -ms-linear-gradient(bottom, #076932 11%, #005734 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, #076932),
		color-stop(0.5, #005734)
	);
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	color:#AAA;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	
	cursor:pointer;
	height:30px;
	width:30px;
}

.defnamenotset {
	background-color:#5C1A19;
	background-image: linear-gradient(bottom, #630303 11%, #470202 50%);
	background-image: -o-linear-gradient(bottom, #630303 11%, #470202 50%);
	background-image: -moz-linear-gradient(bottom, #630303 11%, #470202 50%);
	background-image: -webkit-linear-gradient(bottom, #630303 11%, #470202 50%);
	background-image: -ms-linear-gradient(bottom, #630303 11%, #470202 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.11, #630303),
		color-stop(0.5, #470202)
	);
	
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	color:#AAA;
	text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	
	cursor:pointer;
	height:30px;
	width:30px;
}

#chart-container {
	clear:both;
	max-height:400px;
}
