@import "http://fonts.googleapis.com/css?family=Telex";

body {
    margin: 0 auto;
    color: #1D1D1D;
    background: #F2F2F2;
    font-family: Telex, Helvetica, sans-serif;
}

a {
    color:#475F77;
    text-decoration:none;
}

#maincontent {
    margin:0 auto 61px auto;
    width:90%;
    min-width:1024px;
}

#maincontent:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#wrapper {
    width: 100%;
}

#content {
    float: left;
    width: 80%;
}

.innercontent {
    padding: 10px;
    margin-top: 5px;
}

.innercontent:first-of-type {
    margin-top: 0;
    padding: 0;
}

#maincontent aside {
    float: right;
    width: 19%;
}

#breadcrumbs h1 {
    color:#475F77;
    margin: 0;
    padding: 0;
    font-size: 125%;
    font-variant: small-caps;
    text-align: right;
    cursor: pointer;
    width: 24%;
    float: right;
}

#breadcrumbs span:first-child {
    float: right;
    overflow: hidden;
}

#breadcrumbs span * {
    float: left;
}

#breadcrumbs h1:last-of-type {
}

#breadcrumbs p {
    margin: 0;
    font-size: 125%;
}

.categoryheader {
    color: #475F77;
    width: 100%;
    padding: 10px 0 9px;
    font-size: 16px;
    margin: 0;
}

.subforumlistcontainer {

}

.subforumlistheader {
    background-color: #354B5E;
    color: #D3D3D3;
    overflow: hidden;
    width: 100%;
}

.subforumlistheader span {
    display: table-cell !important;
    padding: 3px 0 !important;
    height: auto !important;
}

.subforum {
    width: 100%;
    height: 60px;
    background-color: #DCDDD8;
    overflow: hidden;
    cursor: pointer;
    border-bottom:1px solid #BBB;
    border-top:1px solid #DDD;
}

.subforum:hover {
    background-color: #CCC;
}

.subforumlistcontainer .subforum:nth-of-type(odd) {
    background-color: #CDCDCD;
}

.subforum-icon {
    float: left;
    width: 50px;
}

.subforum-icon i {
    padding-top: 15px;
    font-size: 30px;
    text-align: center;
    width: 50px;
}

.subforum-info {
    float: right;
}

.topiccount, .postcount {
    width: 60px;
    display: table-cell;
    text-align: center;
    height: 60px;
    vertical-align: middle;
}

.lastpost {
    width: 75%;
    height: 60px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.lastpost span {
    display:block;
}

.subforum-title {
    float: left;
    padding-left: 5px;
}

.subforum-title span {
    margin-top: 2px;
    display: block;
}

.subforum-title h3 {
    margin: 0;
    padding: 4px 0 0 0;
    font-size: 140%;
    color: #475F77;
}

.subforum-title p {
    margin: 0;
    padding: 0;
    color: #1D1D1D !important;
}

.subforum-title a {
    text-decoration: none;
}

.category {
    margin-bottom: 15px;
}

#breadcrumbs {
    width:90%;
    min-width:1024px;
    margin:12px auto 0;
    overflow: hidden;
}

.breadcrumb {
    font-size: 100%;
    color: #1D1D1D;
    text-decoration: none;
}

.breadcrumb:after {
    content: " /";
    color:#1D1D1D;
}

.breadcrumb:last-of-type {
    color:#A3A3A3;
    cursor: default;
}

aside h2 {
    background-color: #354B5E;
    color:#CCC !important;
    text-align: center;
    margin: 0;
}

aside h2:first-of-type {
    margin-top: 38px;
}


#footer {
    width: 100%;
    background-color: #475F77;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:999;
}

#footerinner {
    width: 95%;
    min-width:1024px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    color: #CCC;
}

#notifications {
    float: right;
    overflow: hidden;
    width: 100%;
    display: none;
}

#notifications ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}

#notifications ul li {
    width: 20%;
    float: left;
    text-align: center;
    background-color: #CCC;
    outline: thin solid #BBB;
    padding: 5px 0;
}

#notifications ul li a {
    display: block;
}

#profile {
    float: left;
    width: 50%;
}

.up-pointing-arrow {
    margin-top: 8px !important;
    height: 0;
}

.notify {
    color: #FF0000;
    font-size: 70%;
    margin-top: 5px;
    margin-right: 5px;
}

.notificationsupdown {
    margin-left: 5px;
    color:#354B5E;
}

.sidebarlist {
    background-color: #DDD;
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: none;
}

.sidebarlist li {
    width: 100%;
    overflow:hidden;
    padding:5px 0;
    border-bottom:1px solid #BBB;
    border-top:1px solid #DDD;
}

.sidebarlist li:last-child {
    border-bottom:2px solid #D74E5E;
}

.sidebarlist-link {
    text-align:center;
}

.sidebarlist-link a {
    display:block;
    width:100%;
    padding:19px 0;
}

.sidebarlist li:nth-of-type(even) {
    background-color:#CDCDCD;
}

.sidebarlist li:hover {
    background-color:#CCC;
}

.userportrait {
    float:left;
    width:25%;
    text-align:center;
}

.userportrait img {
    width:100%;
    max-width:50px;
    margin-top:2px;
}

.postdetails {
    float:left;
    width:75%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.threadtitle {
    margin:0;
    padding:0;
    font-size:95%;
}

.threadtitle span {
    display:block;
}

.threadtitle a:first-child {
    font-size:110%;
}

.threadtitle a {
    text-decoration:none;
    font-size:103%;
}

.userandtime {
    margin:0;
    padding:0;
    font-size:90%;
}

.user {
    text-decoration:none;
}

.user:after {
    content: " \2022 ";
    color:#1D1D1D;
}

.pagination {
    list-style-type:none;
    margin:3px 0 3px 0;
    padding:0;
    clear:both;
    float:left;
    overflow:hidden;
}

.pagination li {
    float:left;
}

.pagination li a {
    width:20px;
    height:20px;
    display:block;
    text-align:center;
}

.pagination li a:hover {
    background-color:#CCC;
}

.pagination li.currentpage a {
    background-color:#CDCDCD;
}

#wrapper form {
    padding:10px;
    overflow:hidden;
    background-color:#CDCDCD;
}


#wrapper form button {
    clear:both;
}

#epiceditor {
    width:100%;
    height:700px;
    margin:0;
    float:left;
    box-shadow:0 1px 3px 0 #AAA;
}

#threadtitle {
    width:100%;
    float:left;
    font-size:20px;
    box-sizing:border-box;
    border:none;
    box-shadow:0 1px 3px 0 #AAA;
    margin-bottom:5px;
    padding:5px;
}

#threadsubtitle {
    width:100%;
    float:left;
    font-size:15px;
    box-sizing:border-box;
    border:none;
    box-shadow:0 1px 3px 0 #AAA;
    margin-bottom:10px;
    padding:5px;
}

#rightbar {
    width:25%;
    margin:0;
    height:780px;
    float:right;
}

#syntax {
    width:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    overflow-y: scroll;
    height:680px;
}

#btncontainer {
    width:100%;
    height:90px;
    margin-top:10px;
    text-align:center;
}

#btncontainer button {
    width:97.5%;
    height:90px;
    margin:0 0 0 2.5%;
    border-radius:0;
    font-size:30px;
    color:#354B5E;
    background-color:#9A9A9A;
    border:none;
    cursor:pointer;
    text-shadow:2px 2px #888;
    box-shadow:0 1px 3px 0 #AAA;
}

#btncontainer button:hover {
    background-color:#ACACAC;
    color:#475F77;
}

#syntax h3 {
    margin:0;
    padding:0;
    background-color:#475F77;
    color:#CCC;
    text-align:center;
    clear:both;
}

.mdHelpSection {
    width:95%;
    margin:0 auto 10px auto;
    box-shadow:0 1px 3px 0 #AAA;
    overflow:hidden;
}

.mdHelpSection ol {
    margin-top:0;
}

.mdHelp {

    height:100px;
    position:relative;
}

.wys {
    margin: 0;
    padding: 3px 0;
    text-align: left;
    font: 1em monospace;
    background-color: #DFDDDD;
    width:50%;
    border-bottom:thin solid #BBB;
    border-right:thin solid #DDD;
    font-size:100%;
    position:absolute;
    left:0;
    height:100%;
}

.wys p, .wyg p {
    margin:0;
    padding:0;
}

.wyg p:nth-of-type(2) {
    margin-top:10px;
}

.wyg {
    margin: 0;
    padding: 3px 0;
    text-align: left;
    background-color: #efeeee;
    width:50%;
    border-top:thin solid #DDD;
    border-left:thin solid #BBB;
    border-bottom:thin solid #BBB;
    right:0;
    position:absolute;
    height:100%;
}

.wyg h1, .wyg h2, .wyg h3 {
    margin:0 !important;
    padding:0;
    background-color:transparent !important;
    color:#1D1D1D !important;
    text-align:left !important;
}

.wyg h1 {
    font-size:2em;
}

#syntax h2 {
    margin:0 0 5px 2.5%;
    padding:0;
}

.highlight {

}

.tbcontainer {
    width:100%;
    position:relative;
    overflow:hidden;
}

.remaining {
    position:absolute;
    right:5px;
    top:10px;
    color:green;
}

#titleremaining {
    font-size:15px;
}

#subtitleremaining {
    font-size:10px;
}

.subforumlisttable {
    width:100%;
    border-collapse:collapse;
}

.subforumlisttable th {
    background-color: #354B5E;
    color: #D3D3D3;
    text-align:left;
}

.subforumlisttableheader {
    padding:0;
    margin:0;
    height:20px;

}

.subforumtable-icon {
    font-size:30px;
    text-align:center !important;
}

.subforumtable-title {
    width:65%;
}

.subforumtable-title a {
    display:block;
}

.subforumtable-title a h3 {
    margin:0;
    padding:0;
}

.subforumtable-title a p {
    margin:0;
    padding:0;
}

.subforumtable-topiccount, .subforumtable-postcount {
    text-align:center !important;
    width:5%;
}

.subforumtable-lastpost {
    text-align:center !important;
    width:20%;
}

.subforumtable-lastpost span {
    display:block;
    text-align:center !important;
}

.subforumtable-subforum {
    height: 60px;
    background-color: #DCDDD8;
    overflow: hidden;
    cursor: pointer;
    border-bottom:1px solid #BBB;
    border-top:1px solid #DDD;
}

.subforumtable-subforum:nth-of-type(odd) {
    background-color:#CCC;
}

.subforumtable-subforum:last-child {
    border-bottom:2px solid #D74E5E;
}

.subforumtable-subforum:hover {
    background-color:#BBB !important;

}

#adminLink {
    color: #999;
    float: right;
    clear: right;
}

#whoshere {
    clear:both;
    margin-top:20px;
    overflow:hidden;
}

#whoshere-container {
    background-color:#DCDDD8;
    padding:10px;
    overflow:hidden;
}

#whoshere .categoryheader {
    margin:0;
    padding:0;
}

span.categorysubheader {
    padding:0;
    font-size:85%;
    color:#999;
    margin-bottom:10px;
    display:block;
}

.categorysubheader.floatleft {
    float:left;
    clear:left;
}

.categorysubheader.floatright {
    float:right;
    clear:right;
}

.level-5 {
    color:#D74E5E;
}

.level-4 {
    color:blue;
}

.level-3 {
    color:green;
}

.level-2 {
    color:fuchsia;
}

.level-1 {

}

.activeUsers {
    clear:both;
}