.s3d {
    font-size:20px;
    text-decoration:none;
    color:#000;
    display:inline-block;
    width:15%;
    height:100%;
    text-align:center;
    padding:8px 0;
    float:right;
    margin:7px 0 7px 4px;
}

.s3d:last-of-type {
    margin-left:0;
}

.twitter {
    background: #65acc8;
}

.facebook {
    background: #4669ab;
}

.googleplus {
    background: #DB4A38;
}

.tumblr {
    background: #477392;
}